<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>

        <%- include('../partials/header')%>
            <main class="mainList">
                <% for(i=0 ; products.length> i; i++){ %>
                    <a href="../products/<%= products[i].id %>" id="user">
                        <div class="containerUsers">
                            <div class="descriptionUser">
                            <p><b>Nombre:</b> <%= products[i].nameProduct; %>
                            </p>
                            <p><b>Descripción:</b> <%= products[i].descriptionProduct; %>
                            </p>
                            <p><b>Categoría:</b> <%= products[i].categoryProduct; %>
                            </p>
                            <p><b>Tipo:</b> <%= products[i].typeProduct; %>
                            </p>
                            <p><b>Precio:</b> $<%= products[i].priceProduct; %>
                            </p>
                            </div>
                            <img src="/productImg/<%= products[i].image ? products[i].image : 'default.png'; %>" alt="imgUser" class="imgUser">
                        </div>
                    </a>
                    <% } %>
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>