<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>

        <%- include('../partials/header')%>
            <main class="mainList">
                
                    <table class="table">
                        <tr class="tr">
                            <th class="thImg"></th>
                            <th class="th">Nombre Producto</th>
                            <th class="th">Precio</th>
                            <th class="th">Categoría</th>
                            <th class="th">Tipo</th>
                            <th class="thImgDos"></th>
                        </tr>
                        <% for(i=0 ; products.length> i; i++){ %>
                        <tr class="tr">
                            <td class="tdImg"><img src="/productImg/<%= products[i].image ? products[i].image : 'default.png'; %>" alt="imgUser" class="imgList"></td>
                            <td class="td"><%= products[i].name %> </td>
                            <td class="td"><%= products[i].price %></td>
                            <td class="td"><%= category[products[i].categoría_id].name%></td>
                            <td class="td"><%= type[products[i].tipo_id].name %></td>
                            <td class="td"><a href="/products/<%= products[i].id %>/edit"><button type="submit" id="icon"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <form action="/products/<%= products[i].id %>?_method=DELETE" method="POST" class="borrar">
                                    <button type="submit" id="icon" class="buttonConfirm"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                      </table>
                      <a href="/products/create"><button type="submit">Crear</button></a> 
            </main>
            <script src="../../js/listProducts.js"></script>
            <%- include('../partials/footer')%>
    </body>

</html>