<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body>
 
    <%- include('../partials/header')%>
    <main class="mainProducts">
        <div class="producto">
            <img src="/productImg/<%= productId.image ? productId.image : 'default.png'; %>" alt="" class="img-producto">
            <div class="info-producto">
                <p class="nombre-producto"><%= productId.name %></p>
                <p><b>Precio:</b> $<%= productId.price %></p>
                <p><b>Cuotas:</b> <%= productId.fees %> Sin Interes</p>
                <p><b>Tipo:</b> <%= type[productId.tipo_id].name; %></p>
                <p><b>Categoría:</b> <%=category[productId.categoría_id].name;%></p>
                <p><b>Descripción:</b> <%= productId.descriptionProduct %></p>
                <p><b>Talle:</b> </p>
                <div class="radio">
                <label for="talle" class="radioLabel">S</label><input type="radio" name="talle" id="talle" value="S">
                <label for="talle" class="radioLabel">M</label><input type="radio" name="talle" id="talle" value="M">
                <label for="talle" class="radioLabel">L</label><input type="radio" name="talle" id="talle" value="L">
                <label for="talle" class="radioLabel">XL</label><input type="radio" name="talle" id="talle" value="XL">
                </div>
                <div id="boton-comprar"><button type="submit">Comprar</button> </div>
            </div>
            
        </div>
        <div id="boton">
            <a href="/products/<%= productId.id %>/edit"><button type="submit">Modificar</button></a> 
     <form action="/products/<%= productId.id %>?_method=DELETE" method="POST">
         <button type="submit">Eliminar</button></a>
     </form>
         </div>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>