<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>
        <main class="mainHome">
            <section class="sectionHome">
                <h3 class="tituloHome">Ofertas</h3>
                <% products.forEach((product,index) => { %>
                
                <div class="articulo">
                    <a href="/products/<%= product.id %>" class="productLink">
                    <img src="/productImg/<%= products[index].image ? products[index].image : 'default.png'; %>" alt="" class="imagen-articulo">
                    <p class="descripcion"><%= products[index].name %> </p>
                    <p class="precio">$<%= products[index].price %> </p>
                    <p class="promocion-articulo"><%= products[index].fees %>  cuotas sin interes</p>
                    </a>
                </div>
              
                 <% }) %>
            </section>
            <section class="sectionHome">
                <h3 class="tituloHome">AHORA 12</h3>
                <% ahora12.forEach((product,index) => { %>
                
                    <div class="articulo">
                        <a href="/products/<%= product.id %>" class="productLink">
                        <img src="/productImg/<%= ahora12[index].image ? ahora12[index].image : 'default.png'; %>" alt="" class="imagen-articulo">
                        <p class="descripcion"><%= ahora12[index].name %> </p>
                        <p class="precio">$<%= ahora12[index].price %> </p>
                        <p class="promocion-articulo"><%= ahora12[index].fees %>  cuotas sin interes</p>
                        </a>
                    </div>
                  
                     <% }) %>
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>