<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>

        <%- include('../partials/header')%>
            <main class="mainRegister">
                <h2 class="tituloRegister">EDITAR CUENTA</h2>
                <form action="/users/<%=userId.id%>/edit?_method=PUT" method="POST" class="formulario"
                    enctype="multipart/form-data">
                    <label class="labelRegister" for="name">Nombre y Apellido :</label><input class="inputRegister"
                        type="text" name="name" id="name" value="<%= locals.old ? old.name : userId.name %>">
                        <%= (locals.errors && errors.name) ? errors.name.msg + ' 👆' : "" %>
                        <p id="errorName"></p>
                        <label class="labelRegister" for="lastName">Apellido :</label><input class="inputRegister"
                            type="text" name="lastName" id="lastName" value="<%= locals.old ? old.lastName : userId.last_name%>">
                        <%= (locals.errors && errors.lastName) ? errors.lastName.msg + ' 👆' : "" %>
                        <p id="errorLastName"></p>
                    <label class="labelRegister" for="tel">Teléfono :</label><input class="inputRegister" type="num"
                        name="tel" id="tel" value="<%= locals.old ? old.tel :  userId.tel %>">
                        <%= (locals.errors && errors.tel) ? errors.tel.msg + ' 👆' : "" %>
                        <p id="errorTel"></p>
                    <label for="img" class="labelRegister">Imagen de perfil</label><input type="file"
                        class="inputRegister" name="img" id="img" accept="image/*">
                    <%= (locals.errors && errors.img) ? errors.img.msg + ' 👆' : "" %>
                    <p id="errorImg"></p>
                        <div id="boton">
                            <button type="reset">Borrar</button>
                            <button type="submit">Enviar</button>
                        </div>
                </form>

            </main>
            <script src="../../js/editUser.js"></script>
            <%- include('../partials/footer')%>
    </body>

</html>