<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>

        <%- include('../partials/header')%>
            <main class="mainList">

            <h2 style="text-align: center;">Hola <%= userId.name %> </h2>
                <div class="containerUsers">
                    <div class="descriptionUser">
                    <p><b>Nombre y Apellido:</b> <%= userId.name %>
                    </p>
                    <p><b>E-mail:</b> <%= userId.email %>
                    </p>
                    <p><b>Telefono:</b> <%= userId.tel %>
                    </div>
                    <img  src="/profileImg/<%= userId.image ? userId.image : 'default.png'; %>" alt="imgUser" class="imgUser" >
                </div>
                
                    <div id="boton">
                       <a href="/users/<%= userId.id %>/edit"><button type="submit">Modificar</button></a> 
                <form action="/users/<%= userId.id %>?_method=DELETE" method="POST">
                    <button type="submit" >Eliminar</button></a>
                </form>
                    </div>
               
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>